:root {
    --certo-blue: #4335DE;
    --certo-dark: #02033b;
    --certo-yellow: #FFC043;
}body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fixed-logo {
    height: 35px;
    width: auto;
}
.fixed-btn-img {
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.fixed-btn-img:hover {
    transform: scale(1.05);
}
.spyware-full-blue { background-color: #f3f7ff; padding: 80px 0; }
.info-card-story { background-color: var(--certo-yellow); }
.info-card-story, .info-card-help { min-height: 350px; display: flex; flex-direction: column; justify-content: center; }
.custom-footer { background-color: var(--certo-dark); padding: 60px 0; }